@import "../../../../../styles/breakpoints.scss";

.item-menu{

    display:    block;
    float:      left;
    width:      100%;

    -webkit-transition: all 333ms;
    -moz-transition: all 333ms;
    -o-transition: all 333ms;
    transition: all 333ms;

    @media all and (min-width: $breakpointSmall){

            border-left: 1px solid #333;
            display:    block;
            float:      left;
            width:      calc(100% / 6);
            padding:    16px 10px;

            
            &:last-of-type {
                border-right: 1px solid #333;
            }

            &:hover {
                background-color: rgba(0,0,0,0.25);
            }


            a{
                display:    block;
                width:      100%;
                height:     100%;

                .icon{
                    display:    block;
                    margin:     auto;
                    margin-bottom: 5px;
                    color:  #fff;
                }

                .text{
                    display: block;
                    font-size: 14px;
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;
                    color:  #fff;
                }

            }

    }


}