@import "../../../styles/breakpoints.scss";

#nav-menu{
    display:    none;
    float:      left;
    width:      100%;

    @media all and (min-width: $breakpointSmall){
        display: block;
    }

}