@import "../../styles/breakpoints.scss";

.article-film{
    margin-top: 30px;
    padding: 8px;

    float: left;
    width: 100%;

    @media all and (min-width: $breakpointSmall){
        padding:    16px;
    }

    .synopsis{

        float: left;
        width: 100%;

        font-size: 14px;
        line-height: 20px;
        margin: 20px auto;
    }

}