@import "../../../styles/breakpoints.scss";



.card{
    background:     #fff;
    border-radius:  3px;
    float:          left;

    overflow: hidden;

    padding-bottom: 10px;
    margin-bottom: 30px;

    width: 100%;
    

    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);


    @media all and (min-width: $breakpointSmall){
        width: (100% / 2 - 5%);
        margin: 2.5%;
    }

    @media all and (min-width: $breakpointMedium){
        width: (100% / 3 - 5%);
    }

}