.nav-characters {

        float: left;
        width: 100%;
    

    .list-title{
        float: left;
        width: 100%;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .list-characters{
        float: left;
        width: 100%;
        list-style-type: none;
        
    }
}
