@import "../../styles/breakpoints.scss";

#header-wrapper {

    background:     #222;
    float:          left;
    padding:        8px;
    position:       relative;
    text-align:     left;
    width:          100%;

    @media all and (min-width: $breakpointSmall){
        display:    block;
        height:     auto;
        padding:    16px 0px 0px 0px;
    }

    
}