@import "../../styles/breakpoints.scss";


.section {

    width: 100%;
    float: left;
    padding: 8px;

    .container-cards
    {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

}