@import "../../styles/breakpoints.scss";


.section {

    width: 100%;
    float: left;

    .section-title{
        display:        block;
        color:          #000;
        font-size:      26px;
        float:          left;
        margin-bottom:  10px;
        text-align:     center;
        width:          100%;

        @media all and (min-width: $breakpointSmall){
            font-size:  36px;
        }
    }

    .container-cards
    {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

}